body{
    margin:0px;
    height: 100%;
    width: 100%;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
}
#contenedor{
    width: 80%;
    height: 500px;
    background-color: white;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    box-shadow: 0px 0px 50px white;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    color: #9500ff;
}
input{
    width: 200px;
}
button{
    border: 0;
    background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
    border-radius: 8px;
    display: flex;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    transition: .3s;
    height: 100px;
}
button span{
    background-color: white;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span{
    background: none;
}

button:active{
    transform: scale(0.9);
}
#botoncont{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
}